{% load i18n %}

%html
  / HEADER
  %head{:lang => "de"}
    %meta{:charset => "UTF-8"}/
    %title |*SUBJECT*|
  
  / BODY
  %body
    :sass
      // ddd


    %table.table-0{ :align => "center", :cellpadding => "0", :cellspacing => "0", :width => "620"}
      %tr
        %td

          / LOGO
          %table.table-1{ :align => "center", :cellpadding => "0", :cellspacing => "0", :width => "620"}
            %tr
              %td
                %img{:src => "{{ logo_url }}", :width => "100%"}


          / MAIN TABLE
          %table.table-1{ :align => "center", :cellpadding => "0", :cellspacing => "0", :width => "620"}
            %tr
              %td{:width => "20"}

              %td
                {% blocktrans %}
                You have successfully registered. <br />
                Click on this link to activate your account: <a href="{{ activate_account_url }}">{{ activate_account_url }}</a>
                {% endblocktrans %}

              %td{:width => "20"}
